USING OUR OWN FUNTION

In [28]:
class ownLR:
    
    def __init__(self):
        self.m=0
        self.b=0
    
    def fit(self,X_train,y_train):
        
        num=0
        den=0
        for i in range(X_train.shape[0]):
            num = num + ((y_train.iloc[i]-y_train.mean())*(X_train.iloc[i]-X_train.mean()))
            den = den + ((X_train.iloc[i]-X_train.mean())*(X_train.iloc[i]-X_train.mean()))
        
        self.m = num/den
        self.b = y_train.mean() - (self.m*X_train.mean())
    
    def predict(self,X_test):
        return (self.m*X_test) +self.b

In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [44]:
df = pd.read_csv('/Users/kunalkoshta/Desktop/Campux_X_DS/datas/placement.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cgpa     200 non-null    float64
 1   package  200 non-null    float64
dtypes: float64(2)
memory usage: 3.3 KB

In [31]:
X=df.iloc[:,0:1]
y=df.iloc[:,-1]

In [32]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [33]:
lr = ownLR()

In [34]:
lr.fit(X_train,y_train)

In [46]:
X_test

     cgpa
112  8.58
29   7.15
182  5.88
199  6.22
193  4.57
85   4.79
10   5.32
54   6.86
115  8.35
35   6.87
12   8.94
92   7.90
13   6.93
126  5.91
174  7.32
2    7.82
44   5.09
3    7.42
113  6.94
14   7.73
23   6.19
25   7.28
6    6.73
134  7.20
165  8.21
173  6.75
45   7.87
65   7.60
48   8.63
122  5.12
178  8.15
64   7.36
9    8.31
57   6.60
78   6.59
71   7.47
128  7.93
176  6.29
131  6.37
53   6.47

y_test

In [40]:
y_pred = lr.predict(X_test)

In [38]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [41]:
mean_absolute_error(y_test,y_pred)

np.float64(0.2884710931878174)

In [42]:
mean_squared_error(y_test,y_pred)

np.float64(0.12129235313495523)

In [43]:
r2_score(y_test,y_pred)

0.7807301475103842